@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;600&display=swap");

*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

p {
	font-weight: 400;
	font-size: 0.7rem;
	color: rgba(255, 255, 255, 0.5);
}

h4 {
	font-size: 0.9rem;
	margin-bottom: 5px;
	color: rgba(255, 255, 255, 0.8);
}

body {
	background-color: #8287a0;
	padding: 30px 0;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Urbanist", sans-serif;
	letter-spacing: 0.07em;
}

.container {
	scale: 1.1;
	background-color: #961919;
	height: 90%;
	min-height: 700px;
	max-height: 750px;
	overflow: hidden;
	width: 90%;
	max-width: 1400px;
	border-radius: 20px;
	display: flex;
	box-shadow: 0 50px 100px rgba(0, 0, 0, 0.5);
	position: relative;
}

/* -------------------------navbar-------------------------- */

nav {
	width: 80px;
	border-right: 2px solid #3a3c47;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 20px;
	color: white;
	position: relative;
}

.logo {
	position: absolute;
	top: 50px;
	left: 90%;
	transform: translate(-50%, -50%);
}
.nantoka {
	position: absolute;
	top: 90px;
	left: 750%;
	transform: translate(-50%, -50%);
}
nav ul {
	list-style: none;
}

nav ul li {
	padding: 10px;
	margin: 30px;
	border-radius: 10px;
	cursor: pointer;
}

nav ul i {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}
nav ul li h4 a {
	color:rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
nav ul li:hover,
nav li.active {
	background-color: #3482e7;
}
nav ul li:hover i,
nav li.active i {
	color: white;
}
.fa fa-list i {
	text-decoration: none;
}
.fa-shopping-bag {
	transform: translateX(3px);
}

/* -------------------------navbar end-------------------------- */

.right-main {
	padding: 30px 50px;
	position: relative;
}

/* -------------------------main-------------------------- */

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}

.main-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search > input {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	height: 100%;
	width: 90%;
	font-family: "Urbanist", sans-serif;
	font-weight: 400;
}

.search > input::placeholder {
	font-weight: 600;
}

.search {
	width: 30%;
	min-width: 300px;
	padding: 1em 1.5em;
	background-color: #313237;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 50px;
	color: rgba(255, 255, 255, 0.5);
}
.top {
	width: 20%;
	display: flex;
	justify-content: space-between;
	color: white;
}

.top i {
	text-decoration: none;
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}
.top a { 
	color: white;
	text-decoration: none; 
  } 
.top .fa-bars {
	display: none;
}

.top i:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

header {
	padding: 70px 30px 30px 30px;
	border-radius: 30px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	background-color: #313237;
	background-image: radial-gradient(
		ellipse at top,
		#3a3c47,
		rgba(0, 0, 0, 0.6)
	);
	position: relative;
	margin-bottom: 30px;
}
.contact {
		padding: 70px 30px 30px 30px;
		border-radius: 30px;
		border: 2px solid rgba(255, 255, 255, 0.1);
		background-color: #313237;
		background-image: radial-gradient(
			ellipse at top,
			#3a3c47,
			rgba(0, 0, 0, 0.6)
		);
		position: relative;
		margin-bottom: 30px;
}

.spiderman-img {
	width: 400px;
	position: absolute;
	top: -40px;
	right: -20px;
}

.spiderman-img img {
	max-width: 100%;
}

.tag {
	padding: 0.3em 0.75em;
	background-color: #ff3d3d;
	border-radius: 5px;
	font-size: 0.8rem;
	color: white;
	width: max-content;
	margin-bottom: 20px;
}

header h1 {
	color: white;
	width: 50%;
	margin-bottom: 20px;
}

.seemore {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 450px;
    justify-content: space-between;
    flex-direction: row;
}

.seemore h2 {
	font-size: 0.8rem;
	color: white;
	padding: 0 10px;
}

.seemore button {
	padding: 1em 2em;
	border-radius: 10px;
	border: none;
	outline: none;
	font-family: "Urbanist", sans-serif;
	background-color: #3482e7;
	color: white;
	font-weight: 600;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.seemore button::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #3482e7;
	filter: blur(10px);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.seemore button:hover::after {
	opacity: 1;
}

.most-played {
	max-width: 100%;
	color: white;
}

.most-played h3 {
	margin-bottom: 20px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.game-image-container {
	height: 150px;
	width: 100%;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 10px;
}

.games-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	transition: transform 0.2s linear;
}
.games-card img:hover {
	transform: scale(1.05);
}

.contain {
	background-color: #eee;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
  }
  
  .contact-wrapper {
	margin: auto 0;
  }
  
  .submit-btn {
	float: left;
  }
  .reset-btn {
	float: right;
  }
  
  
  .highlight-text {
	color: #ec1c24;
  }
  
  .hightlight-contact-info {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.5;
  }
  
  .highlight-text-grey {
	font-weight: 500;
  }
  
  .email-info {
	  margin-top: 20px;
  }
  
  ::-webkit-input-placeholder { /* Chrome */
	font-family: 'Roboto', sans-serif;
  }
  
  .required-input {
	color: black;
  }
  /* form {
	scale: 0.93;
	margin: -5% auto;
  } */
  div.form {
	background-color: #eee;
  }
  .form-headlidiv.form {
	background-color: #eee;
  }e:after {
	content: "";
	display: block;
	width: 100%;
	padding-top: 10px;
	border-bottom: 3px solid #ec1c24;
  }
  form > div{
	top:0;
	left:50%;
	padding:0 20px;
	background-color:black;
	border: 2px solid #ccc;
	border-radius: 20px;
	text-align:center;
  }
  
  form > div > img{
	filter:invert(1);
	width:80px;
  }
  
  form > input,
  form > textarea {
	padding: 12px;
	margin: 12px auto;
	border: 1px solid #ccc;
	color: #ddd;
	background-color: #222;
	border-radius: 4px;
	display: block;
	width: 100%;
  }
  
  form > textarea{
	height:70px;
	resize:none;
  }
  
  form > input[type="submit"] {
	max-width: 5vw;
	padding-left: 1%;
	padding-right: 1%;
	cursor: pointer;
	transition: 0.35s;
  }
  
  form > input[type="submit"]:hover {
	background-color: #555;
  }
  .container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	margin: 0;
	height: 250px;
	overflow: hidden;
	overflow-y:scroll;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.card {
	scale: 0.9;
    display: flex;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-image: linear-gradient(to top, #961919 10%, #313237 90%);
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: 0.5s;
}
.card:hover {
	scale: 1.05;
	transition: ease-in 0.25s;
}
.cardtext {
	width: 100%;
}
.card img {
	border-radius: 15px;
}
.card a {
	color: rgba(255, 255, 255, 0.8);
}
/* -------------------------------------main end-------------------------------------------- */

.main-flex {
	display: flex;
	margin-top: 30px;
}

/* -----------------------------------------aside---------------------------------------------- */

aside {
	flex: 0.5;
	margin-left: 30px;
}

.library {
	clear: right;
	color: white;
	padding: 30px;
	background-image: linear-gradient(to top, #75777e 50%, #313237 90%);
	border-radius: 30px;
	border: 2px solid rgba(245, 245, 245, 0.822);
}
.library-card h3 h4 p{
	color: #000000;
}
.library-card {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.game-logo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.game-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.game-details {
	flex: 0.9;
}

.library-card i {
	cursor: pointer;
	flex: 0.1;
	color: rgba(255, 255, 255, 0.5);
}

.fa-check-circle {
	color: #3482e7 !important;
	font-size: 1.1rem;
}

.library hr {
	border: none;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 70%;
	margin: 20px auto;
}

.offline,
.online {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.online {
	background-color: rgb(23, 221, 23);
}

.offline {
	background-color: #ff3d3d;
}

.attribution {
	margin-top: 30px;
	color: #1a1b1f;
}

.attribution a {
	text-decoration: none;
	color: inherit;
}

/* ------------------media query--------------------- */

@media screen and (max-width: 1200px) {
	aside {
		position: absolute;
		inset: 0;
		background-color: #1a1b1fbd;
		z-index: 1000;
		opacity: 0;
		transition: opacity 0.2s linear;
		pointer-events: none;
	}
	.library {
		bottom: 20px;
		position: absolute;
		right: -50%;
		transition: right 0.2s linear;
	}

	aside.active .library {
		width: 100%;
		/* scale: 1.2; */
		right: 5%;
		pointer-events: all;
		/* margin-right: -150px; */
	}

	aside.active {
		opacity: 1;
	}
	.top {
		width: 30%;
		z-index: 4000;
	}
	.top .fa-bars {
		display: grid;
	}
	form > input[type="submit"] {
		max-width: 15vw;
		padding-left: 1%;
		padding-right: 1%;
		cursor: pointer;
		transition: 0.35s;
	  }
	form > textarea {
		padding: 12px;
		margin: 12px auto;
		border: 1px solid #ccc;
		color: #ddd;
		background-color: #222;
		border-radius: 4px;
		/* display: block; */
		width: 100%;
	  }
}

@media screen and (max-width: 1000px) {
	form {
		scale: 1.1;
		margin: 1% auto;
	  }
	header {
		padding: 30px 20px;
	}
	header h1 {
		width: 70%;
		position: relative;
		z-index: 2;
	}
	.spiderman-img {
		width: 300px;
	}
	.container2 {
		display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    /* height: 400px; */
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: row;
    align-items: center;
		}
		.card {
			width: 250px;
			/* height: 200px; */
			/* scale: 1.05; */
			/* padding-bottom: 15px; */
		} 
		.card img {
			scale: 0.9;
		}
		.card:hover {
			scale: 1.1;
		}
		form > div {
			width: 200%;
		}	
		form > input[type="submit"] {
			max-width: 15vw;
			padding-left: 1%;
			padding-right: 1%;
			cursor: pointer;
			transition: 0.35s;
		  }
		  form > input, form > textarea {
			padding: 12px;
			margin: 12px auto;
			border: 1px solid #ccc;
			color: #ddd;
			background-color: #222;
			border-radius: 4px;
			display: block;
			width: 200%;
		}
		form > textarea {
			padding: 12px;
			margin: 12px auto;
			border: 1px solid #ccc;
			color: #ddd;
			background-color: #222;
			border-radius: 4px;
			/* display: block; */
			width: 200%;
		  }
		
	
}
@media screen and (max-width: 768px) {
	form > div {
		width: 150%;
	}	
	  form > input, form > textarea {
		padding: 12px;
		margin: 12px auto;
		border: 1px solid #ccc;
		color: #ddd;
		background-color: #222;
		border-radius: 4px;
		display: block;
		width: 150%;
	}
	form > textarea {
		padding: 12px;
		margin: 12px auto;
		border: 1px solid #ccc;
		color: #ddd;
		background-color: #222;
		border-radius: 4px;
		/* display: block; */
		width: 150%;
	  }
	.search {
		min-width: 0;
		width: 50px;
		height: 50px;
		padding-left: 17px;
		overflow: hidden;
		cursor: pointer;
		transition: width 0.2s linear;
	}
  .right-main{
    padding:1rem;
  }
	.search.active {
		margin-left: 15%;
		width: 50%;
	}
	.top {
		width: auto;
    gap:0.5rem;
	}
	.main-flex {
		height: 100%;
	}
	.cards {
		display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
		overflow: auto;
	}
	.most-played {
		height: 39%;
		overflow: auto;
	}

	.most-played::-webkit-scrollbar {
		display: none;
	}
	.games-card {
		margin-bottom: 20px;
	}
	
}

@media screen and (max-width: 600px) {
	form > input[type="submit"] {
		margin:auto;
	}
	form > div {
		width: 170%;
		margin-left: -50px;
	}	
	  form > input, form > textarea {
		padding: 12px;
		margin: 13px auto;
		margin-left: -50px;
		border: 1px solid #ccc;
		color: #ddd;
		background-color: #222;
		border-radius: 4px;
		display: block;
		width: 170%;
	}
	form > textarea {
		padding: 12px;
		margin: 13px auto;
		margin-left: -50px;
		border: 1px solid #ccc;
		color: #ddd;
		background-color: #222;
		border-radius: 4px;
		/* display: block; */
		width: 170%;
	  }
	.logo {
		margin-top: 20%;
		scale: 1.4;
	}
	main {
		height: fit-content;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.search.active {
		/* overflow: hidden; */
		margin-left: 20%;
		width: 70%;
		float: left;
	}

	.seemore {
		z-index: 5;
	}
	header {
		scale: 0.75;
		width: 580px;
		display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
    	align-items: center;
	}
	
	.container {
		width: 600px;
		scale: 1.09;
		display: flex;
    	flex-direction: column;
    	flex-wrap: nowrap;
    	align-items: center;
	}
	.main-top {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	.library {
		display: flex;
		width: 500px;
		bottom: 20px;
		position: relative;
		right: 0%;
		transition: right 0.2s linear;
	}
	aside.active .library {
		display: flex;
    	pointer-events: all;
    	flex-direction: column;
    	flex-wrap: wrap;
    	align-items: stretch;
		width: 500px;
		right: -4.5%;
		scale: 0.65;

	}
	.library-card {
		/* width: 500px; */
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	body {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	/* .main-flex {
		height: 80%;
		overflow-y: auto;
		overflow-x: hidden;
	} */
	.header {
		width: 150px;
		height: 300px;
	}
	.spiderman-img {
		top: 0;
		right: 100px;
	}
	.container {
		width: 90%;
	}
	.most-played {
		height: 300px;
		margin-left: 22%;
		width: 550px;
		display: flex;
		flex-direction: column;
		/* flex-wrap: wrap; */
		/* overflow: hidden; */
      	overflow-y: scroll;
	}
	.cards {
		/* scale: 0.9; */
		display: flex;
		flex-direction: column;
		left: 0;
		right: 0;
		width: 60%;
		scale: 0.8;
	}
	
	.right-main {
		padding: 30px 20px;
		/* position: fixed; */
	}

	nav ul{
		display:none ;
	}
	.myDIV:hover + .nav {
		display: block;
		color: red;
	  }

	.main-flex::-webkit-scrollbar {
		display: none;
	}
	.container2 {
	display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    /* height: 400px; */
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
	}
	.card {
		width: 270px;
		/* height: 200px; */
		scale: 1;
		/* padding-bottom: 15px; */
	} 
	.card img {
		scale: 0.9;
	}
	.card:hover {
		scale: 1.1;
	}
}